doctype 5
html
  block head
    title= title
    link(rel='stylesheet', href='/assets/css/style.css')
    script(src='/assets/js/lib/jquery-1.8.1.js')
    script(src='/assets/js/lib/jquery-ui-1.8.23.custom.min.js')
    script
      window.jQuery || document.write("<script src='/assets/js/lib/jquery-1.8.1.js'><\/script>")
    script(src='/assets/js/lib/underscore-1.3.3.js')
    script
      window._ || document.write("<script src='/assets/js/lib/underscore-1.3.3.js'><\/script>")
    script(src='/assets/js/lib/backbone-0.9.2.js')
    script
      window.Backbone || document.write("<script src='/assets/js/lib/backbone-0.9.2.js'><\/script>")
    script(src='/assets/js/lib/raphael-min.js')
    script
      window.Raphael || document.write("<script src='/assets/js/lib/backbone-0.9.2.js'><\/script>")
    script(src='/assets/js/lib/fabric.0.8.32.js')
    script(src='/assets/js/lib/async.js')
    script(src='/assets/js/lib/backbone_offline.js')
    script(src='/assets/js/lib/skulpt/skulpt-uncomp.js')
    script(src='/assets/js/lib/skulpt/builtin.js')

    script(src='/assets/js/lib/HexagonTools/HexagonTools.js')
    script(src='/assets/js/lib/HexagonTools/Grid.js')

    script(src='/src/vassal-frontend.js')

    script(src='/src/modules/slot.js')
    script(src='/src/modules/token.js')
    script(src='/src/modules/piece.js')
    script(src='/src/modules/map.js')
    script(src='/src/modules/hex.js')
    script(src='/src/modules/game.js')
    script(src='/src/modules/action.js')
  body
    block content
