body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
div.piece {
  position: absolute;
  background-color: #00f;
  z-index: 1000;
  width: 30px;
  height: 30px;
  z-index: 1000;
}
div.slot {
  position: absolute;
  z-index: 900;
}
