body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.piece {
  z-index: 1000;
  width: 30px;
  height: 30px;
}
.token {
  position: absolute;
}
.slot {
  position: absolute;
  z-index: 1900;
}
.maptile {
  position: absolute;
  z-index: 500;
}
.card {
  position: absolute;
  z-index: 2000;
}
.hidebox {
  position: absolute;
  right: 0px;
  top: 0px;
}
#globalActions {
  position: absolute;
  top: 0px;
  left: 10px;
}
