body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.piece
  position: absolute
  background-color: blue
  z-index: 1000
  width: 30px;
  height: 30px;
  z-index: 1000;

.slot
  position: absolute
  z-index: 900;

.maptile
  position: absolute

#globalActions
  position: absolute
  top: 0px;
  left: 10px;
