body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

div.piece
  position: absolute
  background-color: blue
  z-index: 1000

div.slot.hex
  position: absolute
  background-color: gray
  opacity: 0.2
